@model ML.Clientes
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CLIENTES</h2>

<div class="row">
    <div class="col-md-12">
        <h5>Seleccione un Cliente para redigir a sus pagos o + para agregar...</h5>
        <hr />
    </div>
</div>

<div style="float:left;">
    @Html.ActionLink("Agregar Cliente", "Form", "Clientes", htmlAttributes: new { @class = "btn btn-success" })
</div>
<br /><br /><br />

<table class="table table-bordered table-responsive">

    <thead>
        <tr>
            <td align="center"><b>Pagos</b></td>
            <td class="hidden"><b>IdCliente</b></td>
            <td align="center"><b>Nombre</b></td>
            <td align="center"><b>Teléfono</b></td>
            <td align="center"><b>Último Pago</b></td>
            <td align="center"><b>Fecha de Creación</b></td>
        </tr>
    </thead>

    <tbody>

        @foreach (ML.Clientes clientes in Model.ClientesList)
        {
            <tr>
                <td align="center"><a class="btn btn-info glyphicon glyphicon-usd" href="@Url.Action("GetByIdCliente", "Pagos", new { IdCliente = clientes.IdCliente })"></a></td>
                <td class="hidden">@clientes.IdCliente</td>
                <td align="center">@clientes.Nombre</td>
                <td align="center">@clientes.Telefono</td>
                <td align="center">@clientes.UltimoPago</td>
                <td align="center">@clientes.FechaCreacion</td>

                </tr>
        }

    </tbody>

</table>